/* Mobile-first approach */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* primary-colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* neutral-colors */
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-head: hsla(0, 0%, 100%, 0.6);

}

/* CSS reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
  font-size: 0,9375rem;
  background-color: var(--very-dark-blue);
}

main {
  /* height: calc(100vh - 20px); */
  min-height: calc(100vh - 20px);
}

.card {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  margin: 30px; */
  max-width: 30rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: var(--dark-desaturated-blue);
}

.main__section {
  padding: 1.5rem;
}

.main__section .card .card__image .cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: hsl(278, 80%, 45%);
  filter: opacity(0.5);
}

.main__section .card .card__image {
  position: relative;
}

.main__section .card .card__image figure img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  object-fit: cover;
}


.main__section .card .card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  /* align-items: center; */
  /* padding: 20px; */
  padding: 2rem;
  color: var(--white);
}

.main__section .card .card__text h1 {
  font-size: 25px;
  letter-spacing: 1px;
}

.main__section .card .card__text p {
  line-height: 1.7;
  margin-bottom: auto;
  color: var(--slightly-transparent-white);
}

.main__section .card .card__text .card__text__accent {
  color: var(--soft-violet);
}

.main__section .card .card__text ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.main__section .card .card__text ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.main__section .card .card__text ul li:last-child {
  text-transform: uppercase;
}

.main__section .card .card__text ul li h3 {
  text-transform: uppercase;
  /* font-size: 10px; */
  font-size: 0.9375rem;
  /* note: remove these h3s; */
  /* note: 10px is way too small for text; */
  letter-spacing: 0.075em;
  /* // note: is font family and weight correct on this?; */
  color: var(--slightly-transparent-white-head);
}

.hidden {
  display: none;
}

/* Media Queries */
@media (min-width: 376px) {
  /* edit if necessary */
}

@media (min-width: 545px) {
  main {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  main {
    align-items: center;
  }

  .card {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;
    margin: 0px 250px; */
    max-width: 58rem;
  }

  .main__section .card .card__image {
    height: 375px;
    order: 2;
    flex-basis: 120%;
  }

  .main__section .card .card__image .cover-img {
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;  
    height: 100%;
  }

  .main__section .card .card__image figure img {
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 375px;
  }

  .main__section .card .card__text {
    line-height: 1;
    text-align: left;
    /* padding: 0px 140px 0px 50px; */
    padding: 3rem;
  }

  .main__section .card .card__text h1 {
    font-size: 32px;
    width: 100%;
  }
  
  .main__section .card .card__text ul {
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    margin-top: 30px;
  }

}